Repository rossigee/flux-shared-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-validate, helm-template-validate

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ['-d', 'relaxed']

  - repo: local
    hooks:
      - id: kustomize-validate
        name: Validate Kustomization files
        entry: bash
        args: ['-c', 'for dir in $(find . -name "kustomization.yaml" -exec dirname {} \;); do echo "Validating $dir"; kubectl kustomize "$dir" > /dev/null || exit 1; done']
        language: system
        files: '^.*kustomization\.ya?ml$'
        pass_filenames: false

      - id: helm-template-validate
        name: Validate HelmRelease manifests
        entry: bash
        args: ['-c', 'find . -name "helmrelease.yaml" -exec dirname {} \; | while read dir; do echo "Checking HelmRelease in $dir"; if ! kubectl apply --dry-run=client -f "$dir/helmrelease.yaml" > /dev/null 2>&1; then echo "Invalid HelmRelease in $dir"; exit 1; fi; done']
        language: system
        files: '^.*helmrelease\.ya?ml$'
        pass_filenames: false

Add Phase 1 infrastructure components to shared platform
  helm-repos/cilium.yaml
  helm-repos/cloudnative-pg.yaml
  helm-repos/external-dns-repo.yaml
  helm-repos/fluent.yaml
  helm-repos/grafana.yaml
  helm-repos/haproxytech.yaml
  helm-repos/kustomization.yaml
  helm-repos/metalstack.yaml
  infrastructure/cilium/helmrelease.yaml
  infrastructure/cilium/kustomization.yaml
  infrastructure/external-dns/helmrelease.yaml
  infrastructure/grafana/helmrelease.yaml
  infrastructure/grafana/namespace.yaml
  infrastructure/haproxy/helmrelease.yaml
  infrastructure/haproxy/kustomization.yaml
  infrastructure/haproxy/monitoring.yaml
  infrastructure/haproxy/namespace.yaml
  infrastructure/prometheus-operator/automation.yaml
  infrastructure/prometheus-operator/helmrelease.yaml
  infrastructure/prometheus-operator/kustomization.yaml
  templates/databases/cnpg-cluster-template.yaml
  templates/databases/redis-valkey-template.yaml
  templates/logging/fluent-bit-cluster-config.yaml
  templates/monitoring/core-infrastructure-alerts.yaml
  templates/monitoring/database-monitoring-alerts.yaml
  templates/monitoring/kubernetes-health-alerts.yaml
  templates/monitoring/network-monitoring-alerts.yaml
  templates/monitoring/storage-monitoring-alerts.yaml
  templates/networking/cilium-bgp-template.yaml
  templates/networking/external-dns-providers.yaml
  templates/storage/lvm-storageclass-template.yaml
Due: kustomize-validate, helm-template-validate

remove: Remove redis infrastructure component
  infrastructure/redis/helmrelease.yaml
  infrastructure/redis/kustomization.yaml
Due: kustomize-validate, helm-template-validate

remove: Remove shared valkey from shared platform
  infrastructure/valkey/kustomization.yaml
  infrastructure/valkey/valkey.yaml
Due: kustomize-validate

feat: Add Cilium network policies for flux-system
  infrastructure/flux-system/cilium-network-policy.yaml
  infrastructure/flux-system/kustomization.yaml
Due: kustomize-validate

feat: Update dragonfly valkey to match other valkey deployments
  infrastructure/dragonfly/dragonfly.yaml
  infrastructure/dragonfly/valkey.yaml
Due: none

fix: Update dragonfly MySQL deployment for Kyverno compliance
  infrastructure/dragonfly/dragonfly-db.yaml
Due: none

fix: Update dragonfly valkey to use harbor.golder.lan registry
  infrastructure/dragonfly/valkey.yaml
Due: none

security: Replace overly broad docker.io/* with specific vaultwarden/* in registry policies
  infrastructure/kyverno-policies/registry-policies.yaml
Due: none

Fix dragonfly MySQL StatefulSet - use harbor.golder.lan registry and add imagePullSecrets
  infrastructure/dragonfly/dragonfly-db.yaml
Due: none

Remove imagePullSecrets from MySQL StatefulSet - use public Docker Hub directly
  infrastructure/dragonfly/dragonfly-db.yaml
Due: none

feat: Switch dragonfly from MySQL to PostgreSQL and fix Harbor registry
  infrastructure/dragonfly/dragonfly-db.yaml
  infrastructure/dragonfly/dragonfly.yaml
  infrastructure/dragonfly/kustomization.yaml
Due: kustomize-validate

fix: Add serviceAccountName and use local HelmRepository for dragonfly
  infrastructure/dragonfly/dragonfly.yaml
Due: none

fix: Add docker.io/dragonflyoss/* to allowed image registries
  infrastructure/kyverno-policies/registry-policies.yaml
Due: none

fix: Remove overly permissive container registries from allowed list
  infrastructure/kyverno-policies/registry-policies.yaml
Due: none

fix: Restrict ghcr.io to specific trusted namespaces only
  infrastructure/kyverno-policies/registry-policies.yaml
Due: none

feat: Comprehensive update to allowed image registries based on cluster scan
  infrastructure/kyverno-policies/registry-policies.yaml
Due: none

fix: Resolve kube-prometheus-stack Kyverno policy violations
  infrastructure/prometheus-operator/helm-repository.yaml
  infrastructure/prometheus-operator/helmrelease.yaml
  infrastructure/prometheus-operator/kustomization.yaml
Due: kustomize-validate, helm-template-validate

fix: Remove duplicate flux-multi-tenancy policy from kyverno-policies
  infrastructure/kyverno-policies/kustomization.yaml
Due: kustomize-validate

fix: Remove port restrictions for intra-namespace Flux communication
  infrastructure/flux-system/cilium-network-policy.yaml
Due: none

fix: Update kube-state-metrics to reference correct Helm repository name
  infrastructure/kube-state-metrics/helmrelease.yaml
Due: helm-template-validate

fix: Add local prometheus HelmRepository for kube-state-metrics
  infrastructure/kube-state-metrics/helm-repository.yaml
  infrastructure/kube-state-metrics/kustomization.yaml
Due: kustomize-validate

fix: Add docker.io/crossplane/* to allowed image registries
  infrastructure/kyverno-policies/registry-policies.yaml
Due: none

fix: Remove docker.io/ prefixes globally and add bluebrown/* to allowed registries
  infrastructure/kyverno-policies/registry-policies.yaml
Due: none

fix: Global cleanup - remove all docker.io/ prefixes and add .gitignore
  .gitignore
Due: none

fix: Update Kyverno validationFailureAction to use current API
  infrastructure/kyverno-policies/cilium-policies.yaml
  infrastructure/kyverno-policies/container-security-standards-override.yaml
  infrastructure/kyverno-policies/flux-multi-tenancy-fixed.yaml
  infrastructure/kyverno-policies/flux-multi-tenancy.yaml
  infrastructure/kyverno-policies/gitops-policies.yaml
  infrastructure/kyverno-policies/rbac-policies.yaml
  infrastructure/kyverno-policies/registry-policies.yaml
  infrastructure/kyverno-policies/storage-policies.yaml
Due: none

fix: Resolve cert-manager Kyverno policy violations
  infrastructure/cert-manager/helm-repository.yaml
  infrastructure/cert-manager/helmrelease.yaml
  infrastructure/cert-manager/kustomization.yaml
Due: kustomize-validate, helm-template-validate

fix: Resolve trust-manager Kyverno policy violations
  infrastructure/cert-manager/trust-manager.yaml
Due: none

fix: Resolve Vault HelmRelease Kyverno policy violations
  infrastructure/vault/helm-repository.yaml
  infrastructure/vault/helmrelease.yaml
  infrastructure/vault/kustomization.yaml
Due: kustomize-validate, helm-template-validate

feat: Enhance ArgoCD infrastructure configuration
  infrastructure/argo-workflows/admin-user.yaml
  infrastructure/argo-workflows/kustomization.yaml
  infrastructure/argo-workflows/namespace.yaml
  infrastructure/argo-workflows/valkey.yaml
  infrastructure/argocd/helmrelease.yaml
  infrastructure/argocd/kustomization.yaml
  infrastructure/argocd/namespace.yaml
  infrastructure/argocd/rbac.yaml
  infrastructure/cert-manager/trust-manager.yaml
  infrastructure/fluent-operator/filters/filters.yaml
  infrastructure/fluent-operator/filters/inputs.yaml
  infrastructure/fluent-operator/filters/kustomization.yaml
  infrastructure/fluent-operator/filters/kyverno-filters.yaml
  infrastructure/fluent-operator/filters/parsers.yaml
  infrastructure/fluent-operator/filters/security-filters.yaml
Due: kustomize-validate, helm-template-validate

feat: Add shared resources for argo-workflows, argo-events, and botkube
  infrastructure/argo-events/kustomization.yaml
  infrastructure/argo-events/namespace.yaml
  infrastructure/botkube/kustomization.yaml
  infrastructure/botkube/namespace.yaml
Due: kustomize-validate

refactor: Replace golder domains with acme.com and generalize local path references
  infrastructure/argo-events/namespace.yaml
  infrastructure/argo-workflows/namespace.yaml
  infrastructure/botkube/namespace.yaml
  infrastructure/flux-system/cilium-network-policy.yaml
Due: none

feat: Add shared resources for cnpg-system and crossplane-system
  infrastructure/cnpg-system/catalog.yaml
  infrastructure/cnpg-system/kustomization.yaml
  infrastructure/cnpg-system/namespace.yaml
  infrastructure/crossplane-system/kustomization.yaml
  infrastructure/crossplane-system/namespace.yaml
Due: kustomize-validate

feat: Add shared namespaces for external-secrets and external-dns
  infrastructure/external-dns/kustomization.yaml
  infrastructure/external-dns/namespace.yaml
  infrastructure/external-secrets/kustomization.yaml
  infrastructure/external-secrets/namespace.yaml
Due: kustomize-validate

feat: Add shared LVM storage monitoring infrastructure
  infrastructure/lvm-monitoring/Dockerfile
  infrastructure/lvm-monitoring/README.md
  infrastructure/lvm-monitoring/configmap.yaml
  infrastructure/lvm-monitoring/cronjob.yaml
  infrastructure/lvm-monitoring/deployment.yaml
  infrastructure/lvm-monitoring/grafana-dashboard.json
  infrastructure/lvm-monitoring/kustomization.yaml
  infrastructure/lvm-monitoring/lvm-metrics-exporter.py
  infrastructure/lvm-monitoring/namespace.yaml
  infrastructure/lvm-monitoring/prometheus-rules.yaml
  infrastructure/lvm-monitoring/rbac.yaml
Due: kustomize-validate

feat(lvm-monitoring): Add MinIO upload and Discord notifications
  infrastructure/lvm-monitoring/configmap.yaml
  infrastructure/lvm-monitoring/cronjob.yaml
  infrastructure/lvm-monitoring/kustomization.yaml
Due: kustomize-validate

feat(security): Implement comprehensive security enhancements
  infrastructure/cert-manager/helmrelease.yaml
  infrastructure/kyverno-policies/security-policies.yaml
  templates/monitoring/security-alerts.yaml
  templates/networking/default-deny-networkpolicy.yaml
Due: helm-template-validate

feat: Add shared namespaces for mariadb and fluent-operator
  infrastructure/fluent-operator/kustomization.yaml
  infrastructure/kyverno-policies/cilium-rbac.yaml
  infrastructure/kyverno-policies/kustomization.yaml
  infrastructure/lvm-monitoring/configmap.yaml
Due: kustomize-validate

feat(keycloak): Consolidate keycloak namespace to shared platform
  infrastructure/keycloak/kustomization.yaml
  infrastructure/keycloak/namespace.yaml
  infrastructure/kyverno-policies/cilium-policies.yaml
Due: kustomize-validate
