Repository rossigee/flux-shared-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-validate, helm-template-validate

kustomize-validate:
  name: Validate Kustomization files
  entry: bash
  args:
  - -c
  - for dir in $(find . -name "kustomization.yaml" -exec dirname {} \;); do echo "Validating $dir"; kubectl kustomize "$dir" > /dev/null || exit 1; done
  language: system
  pass_filenames: false

helm-template-validate:
  name: Validate HelmRelease manifests
  entry: bash
  args:
  - -c
  ...

feat(lvm-monitoring): Add security-compliant container image and update CronJobs
  infrastructure/lvm-monitoring/Dockerfile.monitoring
  infrastructure/lvm-monitoring/README.md
  infrastructure/lvm-monitoring/build-and-push.sh
  infrastructure/lvm-monitoring/cronjob.yaml
  infrastructure/lvm-monitoring/namespace.yaml
Due: none

Fix conflicting securityContext.
  infrastructure/cert-manager/helmrelease.yaml
Due: helm-template-validate

feat: Enhance lvm-monitoring with MinIO client and add vaultwarden namespace
  infrastructure/lvm-monitoring/Dockerfile.monitoring
  infrastructure/lvm-monitoring/Dockerfile.monitoring-alpine
  infrastructure/lvm-monitoring/README.md
  infrastructure/lvm-monitoring/configmap.yaml
  infrastructure/lvm-monitoring/cronjob.yaml
  infrastructure/vaultwarden/kustomization.yaml
  infrastructure/vaultwarden/namespace.yaml
Due: kustomize-validate

refactor: Move flux-upstream to shared platform
  infrastructure/flux-system/flux-upstream.yaml
  infrastructure/flux-system/kustomization.yaml
Due: kustomize-validate

feat: Add automation templates and csi-driver-lvm from flux-golder
  infrastructure/csi-driver-lvm/automation.yaml
  infrastructure/csi-driver-lvm/csi-driver-lvm.yaml
  infrastructure/csi-driver-lvm/kustomization.yaml
  templates/automation/discord-alert.yaml
  templates/automation/discord-provider.yaml
  templates/automation/git-repo-flux-golder.yaml
  templates/automation/git-repo-flux-shared-platform.yaml
  templates/automation/image-update-template.yaml
  templates/automation/kustomization.yaml
  templates/automation/receiver-service.yaml
  templates/automation/webhook-receiver.yaml
  templates/automation/webhook-token.yaml
Due: kustomize-validate

fix: Exclude source-controller from flux-components to avoid conflicts
  infrastructure/flux-system/flux-upstream.yaml
Due: none

fix: correct Cilium network policy selectors for Flux controllers
  infrastructure/flux-system/cilium-network-policy.yaml
Due: none

fix: Update GitHub Actions workflow to trigger on master branch
  .github/workflows/hugo.yml
Due: none

fix: Improve GitHub Actions workflow robustness
  .github/workflows/hugo.yml
Due: none

fix: Resolve GitHub Pages deployment and improve page titles
  .github/workflows/hugo.yml
  docs/.gitignore
  docs/content/_index.md
  docs/hugo.toml
  docs/public/404.html
  docs/public/categories/index.html
  docs/public/categories/index.xml
  docs/public/docs/components/index.html
  docs/public/docs/contributing/index.html
  docs/public/docs/examples/index.html
  docs/public/docs/index.html
  docs/public/docs/index.xml
  docs/public/docs/migration/index.html
  docs/public/docs/quick-start/index.html
  docs/public/docs/testing/index.html
  docs/public/docs/usage/index.html
  docs/public/index.html
  docs/public/index.xml
  docs/public/manifest.json
  docs/public/tags/index.html
  docs/public/tags/index.xml
Due: none

add: Simplified Hugo build workflow that works without pre-configured Pages
  .github/workflows/hugo-simple.yml
Due: none

fix: remove circular dependency Harbor registry prefixes from Valkey images
  infrastructure/argo-workflows/valkey.yaml
  infrastructure/dragonfly/valkey.yaml
Due: none

refactor: generalize repository for multi-organization reuse
  README.md
  infrastructure/csi-driver-lvm/automation.yaml
  infrastructure/dragonfly/dragonfly.yaml
  infrastructure/fluent-operator/filters/kyverno-filters.yaml
  infrastructure/kyverno-policies/container-security-standards-override.yaml
  infrastructure/kyverno-policies/prevent-hardcoded-secrets.yaml
  infrastructure/kyverno-policies/registry-policies.yaml
  infrastructure/lvm-monitoring/README.md
  infrastructure/lvm-monitoring/build-and-push.sh
  infrastructure/lvm-monitoring/configmap.yaml
  infrastructure/lvm-monitoring/cronjob.yaml
  infrastructure/lvm-monitoring/daemonset.yaml
  infrastructure/lvm-monitoring/deployment.yaml
  infrastructure/lvm-monitoring/grafana-dashboard.json
  infrastructure/lvm-monitoring/kustomization.yaml
  infrastructure/rabbitmq/external-secrets.yaml
  templates/automation/git-repo-template.yaml
  templates/automation/image-update-template.yaml
  templates/automation/kustomization.yaml
  templates/automation/webhook-receiver.yaml
Due: kustomize-validate

feat(cnpg-system): add comprehensive RBAC permissions including failoverquorums
  infrastructure/cnpg-system/helmrelease.yaml
Due: helm-template-validate

feat: add k8spacket shared infrastructure components
  helm-repos/k8spacket.yaml
  helm-repos/kustomization.yaml
  infrastructure/k8spacket/automation.yaml
  infrastructure/k8spacket/helmrelease.yaml
  infrastructure/k8spacket/kustomization.yaml
  infrastructure/k8spacket/namespace.yaml
Due: kustomize-validate, helm-template-validate

refactor: remove organization-specific golder.tech labels from k8spacket namespace
  infrastructure/k8spacket/namespace.yaml
Due: none

fix: remove duplicate servicemonitor labels causing cert-manager helm install failure
  infrastructure/cert-manager/helmrelease.yaml
Due: helm-template-validate

refactor(vaultwarden): clean up deployment for shared platform
  infrastructure/vaultwarden/README.md
  infrastructure/vaultwarden/automation.yaml
  infrastructure/vaultwarden/external-secrets.yaml
  infrastructure/vaultwarden/kustomization.yaml
  infrastructure/vaultwarden/namespace.yaml
  infrastructure/vaultwarden/vaultwarden.yaml
Due: kustomize-validate

Remove hugo-book submodule to fix Kustomize timeouts
  .gitmodules
Due: none

Add 'helm dashboard'.
  infrastructure/helm-dashboard/automation.yaml
  infrastructure/helm-dashboard/helm-repository.yaml
  infrastructure/helm-dashboard/helmrelease.yaml
  infrastructure/helm-dashboard/kustomization.yaml
  infrastructure/helm-dashboard/namespace.yaml
  infrastructure/helm-dashboard/rbac.yaml
Due: kustomize-validate, helm-template-validate

fix: update chart versions and resolve configuration conflicts
  infrastructure/csi-driver-lvm/csi-driver-lvm.yaml
  infrastructure/kube-state-metrics/helmrelease.yaml
Due: helm-template-validate

Path conditions:
  kustomize-validate: any of: ^.*kustomization\.ya?ml$
  helm-template-validate: any of: ^.*helmrelease\.ya?ml$
